@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    background: url(https://gyaanghantaa.com/wp-content/uploads/2020/02/Savin-NY-Website-Background-Web.jpg) no-repeat;
    background-size: cover;
}

.container{
    color: rgb(0, 0, 0);
}
.card-body{
    color:rgb(5, 5, 5);
}

.btn-primary {
    margin-top: 8px;

}
.btn-primary:hover{
    transform: scale(0.98);
    transition: 0.6s ease;
}

.noteCard{
    margin: 10px;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    border: 1px solid black;
 
}


.card-title{
    font-weight: 600;
}
  .nav-item:hover{
text-decoration: underline;
color: rgb(226, 226, 226);
  }
  .btn-outline-success{
      outline: none;
     opacity: 2;
     border: 1px solid rgb(255, 255, 255);
     color: rgb(255, 255, 255);
  }
  .btn-outline-success:hover{
      color: #fff;
      background: blue;
      transform: scale(0.98);
      transition: 0.6s ease;
  }

  .footer{
      width: 100%;
      height: 100px;
      background: rgb(31, 31, 32);
      color: #fff;
      text-align: center;
      padding: 28px;
      position: absolute;
  }
  .media-icons{
    margin: 25px;
  }
  .media-icons a{
      font-size: 25px;
  }

  .dt{
      font-weight: 600;
  }